<div class="sidebar sidebar-style-2" data-background-color="dark">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/img/user/egg.png" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									계란맨
									<span class="user-level">Level. 9</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile" onClick="sweetAlert('','준비중입니다.','info')">
											<span class="link-collapse">내 프로필</span>
										</a>
									</li>
									<li>
										<a href="#edit" onClick="sweetAlert('','준비중입니다.','info')">
											<span class="link-collapse">프로필 수정</span>
										</a>
									</li>
									<li>
										<a href="#settings" onClick="sweetAlert('','준비중입니다.','info')">
											<span class="link-collapse">로그아웃</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">About Boxing</h4>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#aboutProBoxing" class='navi_a'>
								<img src="/img/common/menuImg/ring_pro.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p>프로복싱</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="aboutProBoxing">
								<ul class="nav nav-collapse">
									<li>
										<a href="/boxing/probox/faq">
											<span class="sub-item">프로복싱 FAQ</span>
										</a>
									</li>
									<li>
										<a href="/boxing/probox/etc">
											<span class="sub-item">프로복서는... </span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item last_li">
							<a data-toggle="collapse" href="#aboutAmatureBoxing" class='navi_a'>
								<img src="/img/common/menuImg/ring_ama.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p>아마복싱</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="aboutAmatureBoxing">
								<ul class="nav nav-collapse">
									<li>
										<a href="/boxing/armabox/faq">
											<span class="sub-item">아마복싱 FAQ</span>
										</a>
									</li>
									<li>
										<a href="/boxing/armabox/etc">
											<span class="sub-item">아마복서는... </span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">협회 소개</h4>
						</li>
						<li class="nav-item last_li">
							<a data-toggle="collapse" href="#orgaKor"  class='navi_a'>
								<img src="/img/common/menuImg/orga.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p>국내 협회</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="orgaKor">
								<ul class="nav nav-collapse">
									<li>
<!-- 										<a href="/organization/organkor/info"> -->
										 <a href="javascript:sweetAlert('','준비중입니다.','info')">
											<span class="sub-item" style="color:black;">국내 협회 소개</span>
										</a>
									</li>
									<li>
										<a href="/organization/organkor/champ">
											<span class="sub-item">체급별 챔피언</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						

						
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">선수정보</h4>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#infoPro" class='navi_a'>
								<img src="/img/common/menuImg/proinfo.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p>국내 프로선수</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="infoPro">
								<ul class="nav nav-collapse">
									<li>
<!-- 										<a href="/boxer/proboxer/hof"> -->
										<a href="javascript:sweetAlert('','준비중입니다.','info')">
											<span class="sub-item" style="color:black">명예의 전당</span>
										</a>
									</li>
									<li>
										<a href="/boxer/proboxer/mboxerinfo">
											<span class="sub-item">남자 프로선수</span>
										</a>
									</li>
									<li>
										<a href="/boxer/proboxer/fboxerinfo">
											<span class="sub-item">여자 프로선수</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item last_li">
							<a href="#infoAma" class='navi_a' onclick="sweetAlert('','준비중입니다.','info')">
								<img src="/img/common/menuImg/amainfo.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p style="color:black">국내 아마선수</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="infoAma">
								<ul class="nav nav-collapse">
									<li>
										<a href="/boxer/amaboxer/hof">
											<span class="sub-item">명예의 전당</span>
										</a>
									</li>
									<li>
										<a href="/boxer/amaboxer/mboxerinfo">
											<span class="sub-item">남자 아마선수</span>
										</a>
									</li>
									<li>
										<a href="/boxer/amaboxer/fboxerinfo">
											<span class="sub-item">여자 아마선수</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						

						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">복싱용품</h4>
						</li>
						<li class="nav-item">
<!-- 							<a href="/item/glove" class='navi_a' onclick="alert('준비중입니다.')"> -->
							<a class='navi_a' onclick="sweetAlert('','준비중입니다.','info')">
								<img src="/img/common/menuImg/glove.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p style="color:black">글러브</p>
							</a>
						</li>
						<li class="nav-item">
<!-- 							<a href="/item/gear" class='navi_a' onclick="alert('준비중입니다.')"> -->
								<a class='navi_a' onclick="sweetAlert('','준비중입니다.','info')">
								<img src="/img/common/menuImg/headgear.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p style="color:black">헤드기어</p>
							</a>
						</li>
						<li class="nav-item last_li">
<!-- 							<a href="/item/etc" class='navi_a'> -->
							<a class='navi_a' onclick="sweetAlert('','준비중입니다.','info')">
								<img src="/img/common/menuImg/shose.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p style="color:black">그 외</p>
							</a>
						</li>

						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">국내 체육관 찾기</h4>
						</li>
						<li class="nav-item last_li">
<!-- 							<a data-toggle="collapse" href="/gym/gyminfo" class='navi_a' > -->
							<a class='navi_a' onclick="sweetAlert('','준비중입니다.','info')">
								<img src="/img/common/menuImg/location.png" alt="navbar brand" class="navbar-brand navi_icon">
								<p style="color:black">국내 체육관 찾기</p>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>