<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.box.korBoxing.dao.bot.BoxerDAO_bot">

	
	
	<select id="getActiveBoxerRank_bot" parameterType="String" resultType="boxerRankVO_bot">			
			SELECT
					t.date,
					t.ranking,
			        t.boxer_name,
			        if(trans_n.boxer_name_kor is null,t.boxer_name,trans_n.boxer_name_kor) as boxer_name_kor
			FROM(        
			            SELECT
							DATE_FORMAT(boxer.lsttm, "%Y-%m-%d") as date,
							CAST(SUBSTRING_INDEX(boxer.korea_rank,'/',1) AS UNSIGNED) AS ranking,
							boxer.boxer_name,
							boxer.boxer_id
						FROM
							tb_boxer_boxrec as boxer,
							tb_trans_division AS trans_d
						WHERE
							boxer.division = trans_d.division_eng
			                AND
			                trans_d.division_kor=#{division_kor}
							AND
							STATUS='active'
				) t
				LEFT JOIN tb_trans_boxername as trans_n
				ON t.boxer_id = trans_n.boxer_id
			ORDER BY
				ranking ASC
			
				
	</select>
	
	<select id="getBoxerInfo_bot" parameterType="String" resultType="boxerInfoVO_bot">
			SELECT
				DATE_FORMAT(boxer.lsttm, "%Y-%m-%d") as date,
				CAST(SUBSTRING_INDEX(boxer.korea_rank,'/',1) AS UNSIGNED) AS ranking,
                boxer.korea_rank,
                trans_d.division_kor,
				trans_n.boxer_name_kor,
				boxer.win,
				boxer.lose,
				boxer.draw,
                CASE(boxer.STATUS)
					WHEN 'active' THEN '현역'
					WHEN 'inactive' THEN '은퇴'
				END AS STATUS,
				boxer.boxer_id
			FROM
				tb_boxer_boxrec as boxer,
				tb_trans_division AS trans_d,
                tb_trans_boxername as trans_n
			WHERE
				boxer.division = trans_d.division_eng
                AND
                boxer.boxer_id = trans_n.boxer_id
                AND
				trans_n.boxer_name_kor = #{boxerName_kor}
			ORDER BY
				ranking ASC

				
	</select>
	
</mapper>
