<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="/backup/common/header" />
</head>

<body>
<div id="wrap">
<!-- 	<div th:replace="/common/admin_login_popup"></div> -->
<!-- 	<div th:replace="/common/contact_us_popup"></div> -->
	<div th:replace="/backup/common/sitemap"></div>
    <div th:replace="/backup/common/content_header"></div>
<!--     <div th:replace="/common/m_content_header"></div> -->
    
    <section class="web">
        <div class="sub_top media"><span class="aro_mind">선수정보 <sub>프로복서 통합정보 제공</sub></span></div>
    </section>
	<section th:replace="/backup/boxerInfo/navi"></section>
<!-- 	<div th:replace="/media/m_navi"></div> -->
    
    <container>
        <section>
            <article>
                <h2>선수 리스트</h2>
                <div class="sub_text2">프로복서 프로필 및 전적</div>
                <div class="board">
                    <div class="bl mb2 web">
                        <div class="board_search">
                        	<form action="/backup/media/news" name="searchForm">
<!--                         		<input type="text" name="searchTarget" th:value="${paging.searchTarget}" /> -->
                        		<a href="#" onclick="this.parentNode.submit();return false;">검색</a>
                        	</form>
                        </div>                        
                    </div>
                    
<!--                     <table class="list"> -->
<!--                         <colgroup> -->
<!--                             <col class="cw1" /> -->
<!--                             <col class="cw" /> -->
<!--                             <col class="cw1" /> -->
<!--                         </colgroup> -->
<!--                         <tr class="on" th:each="item : ${viewImportant}" th:onclick="|location.href= '/media/viewNews?seq=${item.seq}';|"> -->
<!--                             <td class="number">공지</td> -->
<!--                             <td class="subject" th:text="${item.title}">제목</td> -->
<!--                             <td class="date" th:text="${item.regDate}">등록일</td> -->
<!--                         </tr> -->
<!--                         <tr th:each="item,iterStat : ${viewContent}" th:onclick="|location.href= '/media/viewNews?seq=${item.seq}';|"> -->
<!--                             <td class="number" th:text="${paging.contentStartNo - iterStat.index}">No</td> -->
<!--                             <td class="subject" th:text="${item.title}">제목</td> -->
<!--                             <td class="date" th:text="${item.regDate}">등록일</td> -->
<!--                         </tr> -->
<!--                     </table> -->
                </div>
<!--                 <div th:if="${session.admin != null}" class="board_bottom web"> -->
<!--                     <a href="/media/registerNews" class="btn_default btn_right">글쓰기</a>관리자 로그인 상태 -->
<!--                 </div> -->
<!--                 <div th:replace="/common/paging"></div> -->
            </article>          
        </section>
    </container>

	<footer th:replace="/backup/common/footer"></footer>
</div>
</body>
</html>
