<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta th:replace="/common/commonHead"/>
<link rel="stylesheet" href="/css/boxing/boxing.css"/>
</head>
<body>
<div class="wrapper">
	<!-- TopHeader -->
	<div th:replace="/common/commonHeaderBar">
	</div>
	<!-- LeftNaviBar -->
	<div th:replace="/common/commonLeftNaviBar">
	</div>
	<div class="main-panel">
		<div class="content">
			<div class="panel-header bg-dark-gradient">
				<div class="page-inner">
					<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
						<div>
							<h2 class="text-white pb-2 fw-bold">아마복싱 FAQ</h2>
							<h5 class="text-white op-7 mb-2">아마복싱</h5>
						</div>
						<ul class="breadcrumbs">
							<li class="nav-home"><a href="/"><i class="flaticon-home text-light op-5"></i></a></li>
							<li class="separator"><i class="flaticon-right-arrow text-light op-5"></i></li>
							<li class="nav-item text-white"><a class="text-light op-5">아마복싱</a></li>
							<li class="separator"><i class="flaticon-right-arrow text-light op-5"></i></li>
							<li class="nav-item"><a href="/boxing/amabox/faq" class="text-light op-5">아마복싱 FAQ</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-inner">
				<div class="row">
						<div class="home-main-div">
							<div>
								<h1 class="aboutBoxing-title">아마복싱 에디터가 알려주는<br><b style="color:blue; opacity: 0.6">아마복싱 자주하는 질문</b></h1>
							</div>
						
							
							<div class="card aboutBoxing-card">
								<div class="card-header">
									<h1 class="card-title aboutBoxing-card-title">Q1. 아마복싱은 어떤 스포츠에요?</h1>
								</div>
								<div class="card-body boxingDescription pro">
												<p>
												아마복싱과 프로복싱은 경우 보통의 프로페셔널(상위) - 아마추어(하위) 의 상하관계랑 다릅니다.<br>
												<br>
												우리나라 아마복싱은 체중팀, 체고팀, 대학부팀, 실업팀, 상무팀이 <b>챔피언 타이틀을 획득하는게 아니라</b> <b class="ama-bold">국내대회, 세계대회에서 메달을 획득하는것이 목표</b>에요.<br>
												<span  style="opacity: 0.6">* 상무팀:  군복무를 운동을 하면서 국군체육부대 팀으로 각종 국내/국제 시합에 참가해 메달획득을 목표로 하고있는 부대</span><br>
												<span style="opacity: 0.6">* 실업팀 : 각 지역 시.도에 소속되어있는팀</span><br>
												<br>
												현역 아마복싱선수는 일년마다 대한체육회 대한복싱협회에 선수등록을 해야합니다.<br>
												아마복싱의 선수층은 일반인의 케이스도 있지만 아마복서는 <b>체중 -> 체고 -> 체대의 훈련과정을 </b><b class="ama-bold">엘리트코스</b>라고 하는데, 이 엘리트코스를 수료한 <b class="ama-bold">엘리트복서</b>가 많습니다.<br>
												이러한 아마복서가 뛰는 경기는 <b>전국대회, 전국체전(소년체전)</b>과 같은 국내경기가 있고 국가가 국가대표를 선정하여 경기하는 <b>아시안게임, 올림픽</b> 과 같은 세계경기가 있어요.<br>
												아마복싱의 자세한 대회유형은 아래에서 다시 이야기 해볼게요.<br>
												<br>
												여자부/고등부/대학부/성인부는 3분 3라운드로 진행되며 중등부는 2분 3라운드로 진행돼요.<br>
												아마추어복싱은 타점을 정확히 적중시키면 1포인트가 올라는 시스템이었는데요.<br>
												프로복싱처럼 파이팅 넘치는 경기를 도모하기 위해 <b>10포인트 머스트 시스템</b>을 도입했어요.<br>
												이는 라운드에서 우수한 선수에게 10점만점으로 점수를 줄 수 있는 시스템으로, 이로인해 재미없이 도망다니면서 잽으로 포인트 획득하는 복싱이 많이 사라졌어요.<br>
												<br>
												반칙으로 인해 주의를 얻는데, <b>주의를 3번받으면 파울</b>로 점수가 깎이게 됩니다.<br>
												포인트로 승패가 나뉘기 때문에 1포인트라도 감점 당하면 승패에 많은 영향을 줘요.<br>
												<br>
												아마추어복싱은 위아래 유니폼과 낭심보호대 헤드기어를 쓰고 시합을 합니다.<br>
												TV에서 올림픽 복싱할때 파란색, 빨간색 유니폼입고 헤드기어끼고 복싱하는거 보셨죠?
												</p>
									</div>
								</div>
								
								
								<div class="card aboutBoxing-card">
									<div class="card-header">
										<h1 class="card-title aboutBoxing-card-title">Q2. 일반인이 아마복서가 되고싶을때는 어떻게 해야돼요?</h1>
									</div>
									<div class="card-body boxingDescription pro">
													<p>
													초 , 중학생이 복싱을 경험하고 재능을 발견하면, 체중/체고/체대로 차례대로 진학하며 엘리트코스를 밟으며 재능을 갈고 닦아 엘리트복서가 될 수 있구요.<br>
													<br>
													이미 <b>성인</b>이시다면 아마복서가 되기 이전에 <b>생활체육에 몇차례 나가보고</b> 천천히 생각하는게 좋을것 같습니다.<br>
													복싱을 배운다는것은 호신용이나 건강 및 다이어트에 몹시 좋지만 아마복싱에 도전하신다면, <b class="ama-bold">냉정하게 말씀드리면 어렵습니다.</b><br>
													불가능이라고는 감히 말씀드릴수 없으나, 어렸을때부터 체중체고를 진학하면서 엘리트코스를 취득하지 않는 이상 경쟁력에 밀릴 수 밖에 없으며 그들의 운동량을 따라가기도 결코 쉽지 않을거에요.<br>
													<br>
													그럼에도 실제로 성인 이후에 복싱을 배우고 재능을 깨우쳐 생체에서 빛나는 성과를 내고 시청팀으로 스카웃을 받은 케이스도 있습니다.<br>
													그러니 생체를 나가보시면서 본인의 역량을 판단해보시면 될 것 같습니다.
													</p>
										</div>
									</div>
									
									
									<div class="card aboutBoxing-card">
										<div class="card-header">
											<h1 class="card-title aboutBoxing-card-title">Q3. 아마복싱경기는 어떤것들이 있고, 어떻게 열리나요?</h1>
										</div>
										<div class="card-body boxingDescription pro">
														<p>
														기본적으로 모든 아마복싱은 아이바AIBA(세계아마추어복싱기구)에 등록된 협회인 대한복싱협회에서 주최합니다.<br>
														</p>
														<table class="table mt-3">
															<thead>
																<tr>
																	<th scope="col"  colspan="3" style="font-size: 20px; background-color: #ddd">국내 경기</th>
																</tr>
																<tr>
																	<th style="width:10%"></th>
																	<th scope="col" style="width:40%">전국대회</th>
																	<th scope="col" style="width:40%">전국체전/<br>소년체전</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>목적</td>
																	<td>이름 그대로의 <b class="ama-bold"> 전국복싱대회 개인전</b>으로 <b>금, 은, 동메달</b>을 수여함</td>
																	<td>국내 16개의 시/도에서 각 체급에 대한 각 <b>지역대표를 선발</b>하여 지역간 복싱경기를 하는 팀 대항전 같은 <b class="ama-bold">국내 리그</b>개념의 대회</td>
																</tr>
																<tr>
																	<td>비고</td>
																	<td>아마선수를 키우는 팀들의 개인전의 개념으로 <b style="font-style: italic;">우리팀은 전국대회 몇회 우승했어 </b>  라는 커리어 목적으로 많이 활용</td>
																	<td>시/도 대표의 선발주자는 대부분 각 지역의 체중/체고/체대의 <b>엘리트선수</b> 및 <b>실업팀, 상무팀</b> 선수들이 출전하는 대회로 전국대회보다 <b class="ama-bold">경기수준이 매우 높음</b></td>
																</tr>
															</tbody>
														</table>
														<br><br>
														<table class="table mt-3">
															<thead>
																<tr>
																	<th scope="col"  colspan="3" style="font-size: 20px; background-color: #B0F7FF;">세계 경기</th>
																</tr>
																<tr>
																	<th style="width:10%"></th>
																	<th scope="col" style="width:40%">아시안게임</th>
																	<th scope="col" style="width:40%">올림픽</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>목적</td>
																	<td colspan="2" style="text-align: center;">세계에서 참가국가들이 <b>국가대표 선수</b>를 선발하여 <b class="ama-bold">국가 간에 경기</b>를 치르는 대회</td>
																</tr>
																<tr>
																	<td>비고</td>
																	<td><b>올림픽 다음으로 큰 규모의 세계무대</b>인 만큼 국가대표로 선발되기가 몹시 까다로우며, <b>국내 경기와 엄청난 차이의 역량</b>을 필요로 함</td>
																	<td><b class="ama-bold">모든 스포츠선수들의 꿈의 무대</b>이며, 세계 스포츠경기 중 가장 인기있는 대회인 올림픽의 국가대표인 만큼 <b class="ama-bold">국내에서 가장 복싱을 잘하는 아마복싱선수</b>를 선발</td>
																</tr>
															</tbody>
														</table>
														<br><br>
														<p>
														전국대회와 전국체전의 출전선수 레벨이 엄청나게 차이가 나지만 역시 국내무대와 세계무대의 출전난이도는 어마어마 하겠죠?<br>
														모든 아마복싱의 마지막 꿈은 <b>올림픽 국가대표로 출전하여 금메달을 획득</b>하여 대한민국을 빛내는겁니다.<br>
														지금 이순간도 아마복서들은 세계무대로 나아가 대한민국을 빛내기 위해 눈 뜨는순간부터 잠 드는 순간까지 피땀지옥을 흘려가며 훈련하고 있어요.<br><br>
														아참, 그리고 도민체전, 도대회, 시대회의 경우는 생활체육대회와 같은 개념이므로 아마복싱경기 유형이라고 보기는 어렵습니다..^^<br>
														</p>
											</div>
										</div>
										
										<div class="card aboutBoxing-card">
											<div class="card-header">
												<h1 class="card-title aboutBoxing-card-title">Q4. 아마복서들, 돈은 얼마나 벌어요?</h1>
											</div>
											<div class="card-body boxingDescription pro">
														<p>
															아마복서의 경우 월급이 별도로 있고, 세계무대에서 메달 획득 시 연금과 포상금이 별도로 나오는데요.<br>
															<b>월급</b>의 경우 선수의 기량에 따라 천차만별로 달라지기 때문에 <b class="ama-bold">평균치를 말씀드리기 어렵습니다.</b><br><br>
															세계무대에는 연금점수라는 개념이 존재하지만 그거에 대해서는 자세하게 다루지는 않을게요.<br>
															다만 세계무대에서 메달을 획득할 시 선수에게 주어지는 <b>연금 및 포상금은 아래 정도의 수준</b>이라고 참고만 해주세요.<br>
															<br>
															<b> * 아시안게임</b><br>
															금메달 :  포상금 120만원<br>
															은메달 :  포상금 70만원<br>
															동메달 :  포상금 40만원 <br>
															메달 없는경우 : 포상금 15만원<br>
															<b>아시안게임은 금메달을 획득할 경우 병역혜텍</b>이 주어지며, 복무중인 선수(상무팀)들도 전역을 할 수 있습니다.
															<br><br><br>
															<b> * 올림픽</b><br>
															금메달 :  연금 100만원 / 포상금 6300만원<br>
															은메달 :  연금 75만원 / 포상금 3500만원<br>
															동메달 :  연금 52.5만 / 포상금 2500만원<br>
															메달 없는경우 : 포상금 300만원<br>
															<b>올림픽은 동메달만 획득해도 병역혜택</b>이 주어지며, 마찬가지로 상무팀도 전역을 할 수 있습니다.<br>
															<br>
															
														</p>
												</div>
											</div>
								
								
								
							</div>
						</div>
			</div>
			<footer th:replace="/common/commonFooter.html"></footer>
		</div>
	</div>
	</body>
	</html>