<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta th:replace="/common/commonHead"/>
<link rel="stylesheet" href="/css/boxing/boxing.css"/>
</head>
<body>
<div class="wrapper">
	<!-- TopHeader -->
	<div th:replace="/common/commonHeaderBar">
	</div>
	<!-- LeftNaviBar -->
	<div th:replace="/common/commonLeftNaviBar">
	</div>
	<div class="main-panel">
		<div class="content">
			<div class="panel-header bg-dark-gradient">
				<div class="page-inner">
					<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
						<div>
							<h2 class="text-white pb-2 fw-bold">프로복서는...</h2>
							<h5 class="text-white op-7 mb-2">프로복싱</h5>
						</div>
						<ul class="breadcrumbs">
							<li class="nav-home"><a href="/"><i class="flaticon-home text-light op-5"></i></a></li>
							<li class="separator"><i class="flaticon-right-arrow text-light op-5"></i></li>
							<li class="nav-item text-white"><a class="text-light op-5">프로복싱</a></li>
							<li class="separator"><i class="flaticon-right-arrow text-light op-5"></i></li>
							<li class="nav-item"><a href="/boxing/probox/faq" class="text-light op-5">프로복서는...</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-inner">
				<div class="row">
						<div class="home-main-div">
							<div>
								<h1 class="aboutBoxing-title">프로복싱 에디터가 들려주는<br><b style="color:red; opacity: 0.6">진짜 프로복싱 이야기</b></h1>
							</div>
							<div>
								<h6 class="aboutBoxing-title sub"> - 험난함을 극복하고 챔피언이 되어 <br>내 존재 가치를 증명하고 싶은 그들의 이야기...</h6>
							</div>
							
							<div class="card aboutBoxing-card">
								<div class="card-header">
									<h1 class="card-title aboutBoxing-card-title">프로복서로의 데뷔</h1>
								</div>
								<div class="card-body boxingDescription pro">
												<p>
												<b>프로복서로 데뷔하는 유형은</b> 일반적으로 아래와 같은 두가지의 케이스가 있습니다.<br>
												<br>
												<b class="pro-bold">* 엘리트 및 아마복서 -> 프로복서</b><br>
												첫번째로 프로에 데뷔하는 과정 중 하나는 엘리트/ 아마추어 복싱 경험을 거쳐서 프로복싱에 데뷔하는 경우입니다.<br>
												김민욱 선수, 신동명 선수, 정민호 선수 등이 엘리트 아마추어 복서로서 활약하다 프로복싱계에 데뷔하여 활동하고 있는 선수들입니다.<br>
												큰 금액의 연봉이 보장되어있음에도 프로에 뛰어들어 <b>챔피언이 되려는 일념</b>으로 최선을 다하고 있는 선수도 있고, 아마추어 선수의 커리어를 마감하고 <b>새로운 도전</b>을 위해 프로 복싱에 데뷔하는 선수들이 있습니다.<br>
												대단한 엘리트 복서가 아니더라도, 대학 복싱부에서 아마추어로 활동하다 프로복싱으로 데뷔해서 좋은 활약을 펼치는 선수들도 있고 다양한 경우가 존재합니다.<br>
												<br>
												<b class="pro-bold">* 생활체육복서 -> 프로복서</b><br>
												두번째는 <b>생활체육으로 시작해서 선수의 꿈을 꾸고 프로 복서로 데뷔</b>하는 경우입니다.<br>
												저 같은 경우가 이에 속하는데요, 생활체육으로 시작하여 프로테스트에 합격하고 프로 데뷔를 했습니다.<br>
												프로테스트를 보고 테스트에 합격하면 프로 시합을 뛸 수 있는 자격이 주어집니다.<br>
												<br>
												그렇게 프로 데뷔 후 4라운드부터 6라운드.. 8라운드.. 10라운드.. 12라운드..<br>
												프로에 데뷔하여 4라운드 데뷔전을 치루고, 경험과 실력이 쌓이면 긴 라운드의 복싱 프로 시합을 뛰게 됩니다.<br>
												4라운드부터 6라운드 8라운드는 랭킹전, 라이벌전, 신인왕 결승전이고, 10라운드 12라운드는 한국 타이틀매치, 아시아 타이틀 매치급 시합입니다.<br>
												</p>
									</div>
								</div>
								
								
								<div class="card aboutBoxing-card">
									<div class="card-header">
										<h1 class="card-title aboutBoxing-card-title">프로 복서의 훈련</h1>
									</div>
									<div class="card-body boxingDescription pro">
													<p>
													프로 복서들은 <b>투잡을 뛰는 경우가 거의 대부분</b>입니다.<br>
													왜 투잡을 뛰냐구요?<br>
													프로복싱 FAQ에서 말씀드렸지만, 많은 프로선수들이 단순히 국내경기만으로 <b>생계를 이어가기가 현실적으로 쉽지 않거든요.</b><br>
													<br>
													각종 아르바이트 일을 하면서 비는 시간에 운동을 하는데, <b class="pro-bold">많은 케이스가 프로선수를 병행하며 체육관 코치</b>로 일합니다.<br>
													저 같은 경우는 아침에 로드웍, 14시부터 17시까지 프로 복싱 훈련. 18시부터 23시까지 코치 일을 했습니다.<br>
													아침에 기상에서 로드웍, 오후에는 체육관에서 쉐도우/ 샌드백/ 서킷 트레이닝/ 미트치기 훈련,  그리고 밤에는 일하는거죠.<br>
													직장 다니시는 분들도 있는데, 그 분들 같은 경우는 퇴근하고 복싱 훈련을 해서 시합에 나갑니다.<br>
													그래서 선수부 훈련에 임할 때, <b class="pro-bold">운동 및 훈련시간에 정말 최선을 다합니다.</b><br>
													왜냐면 하루에 <b>운동 기회가 한번밖에 없는데다가 훈련시간이 짧기 때문에</b> 느슨하게 하면 시합때 이길수가 없기 때문이에요.<br>
													</p>
										</div>
									</div>
									
									
									<div class="card aboutBoxing-card">
										<div class="card-header">
											<h1 class="card-title aboutBoxing-card-title">프로 복서의 꿈, 챔피언 그리고 세계무대</h1>
										</div>
										<div class="card-body boxingDescription pro">
														<p>
														모든 프로복서들의 결국 목표는 <b class="pro-bold">챔피언의 자리에 올라 허리에 벨트를 두르는 것</b>입니다.<br>
														국내에 협회가 많고 챔피언자리도 사람이 없어서 공석이라는 생각 때문에 국내의 챔피언은 쉽게 달성한다고 생각하는 일부도 계시는데, 사실 국내챔피언도 결코 쉽지 않습니다.<br>
														개인적으로 생각했을땐 정말 운이 따라야 되구요. 그 운은 <b>준비된 사람에게, 실력있는 사람</b>에게 따라갔던거같아요.<br>
														<br>
														어떤 사람들은 정말 운좋게 쉽게 챔피언이 되는 경우도 있습니다.<br>
														그러나 허덕이는 생계난속에 피땀 흘려가는 많은 프로복싱선수들이 <b>정말 먼길을 돌아가기도 하고 현실의 벽에 가로 막혀 챔피언의 꿈을 이루지 못하기도</b> 해요.<br>
														죽도록 피나는 노력을 해서 1승이라도 하는것에 목 메는 선수들도 있습니다.<br>
														<br>
														하지만 그 와중에도 역시 <b class="pro-bold">화려한 전적을 뽐내며 엄청난 승률로 무패에 가까운 기량</b>을 보여주시는분들이 계신데요.<br>
														그런 선수들은 <b>아시아무대, 월드무대인 세계무대</b>로 나아갈 준비를 계속해서 하고있습니다.<br>
														<br>
														과거에는 국내선수도 홍수환선수, 박종팔선수, 최용수선수, 지인진선수와 같이 세계 메이저기구인 <b>WBC, WBA, IBF, WBO</b>등 에서 챔피언까지 올라가셨던 <b>세계챔피언</b>들이 많았었는데요.<br>
														현재는 세계무대의 장벽이 너무나도 높아 <span style="opacity: 0.6">(다들 아시는 메이웨더, 파퀴아오, 골로프킨같은 선수와 견주어야 하거든요.)</span> 세계무대에서 활동하시는분은 없습니다.<br>
														그러나 <b>OPBF / WBO 아시아 /  WBA 아시아</b> 와 같은 아시아무대에서부터 점차 기량을 발휘하고 계신분들이 믾은데요.<br>
														그런 엄청난 선수들이 더욱이 승승장구하고 활약해서 대중들의 관심을 품은 채 <b class="pro-bold">세계무대를 장악하게 되는 날</b>이 또 한번 오리라 믿습니다.<br>
														</p>
											</div>
										</div>
										
										<div class="card aboutBoxing-card">
											<div class="card-header">
												<h1 class="card-title aboutBoxing-card-title">프로 복서의 삶은..</h1>
											</div>
											<div class="card-body boxingDescription pro">
														<p>
														대부분의 프로복싱 선수들은 <b class="pro-bold">몹시 헝그리하고 배고픕니다.</b><br>
														파이트머니로는 금전적인 부분이 충당이 안되며, <b>생계난에 정~말 많이 허덕이며</b> 살아야 합니다.<br>
														직장을 다니면서 퇴근 후 운동하는 수준으로는 복싱선수로써 링위에 오를 몸 상태 유지가 되질 않습니다.<br>
														그러니 당연시 하게 일을 파트타임으로 줄이고 훈련량을 늘릴 수 밖에 없는데, 그 과정에서 체육관에서 코치로 일을 병행하며 프로활동을 하는 케이스가 일반적인 케이스가 되었습니다. <br>
														<br>
														<span style="opacity: 0.7">제가 겪었던 일인데,</span> 프로 시합 후 부상을 당해 응급실에 갔음에도 응급실 비용을 내지 못한 적이 있습니다.<br>
														정말 간식거리 하나, 커피 하나에 망설이게 됩니다.<br>
														적은 시간에 일을 하고 운동을 해야 하기 때문에 금전적으로 여유롭지 못합니다.<br>
														모두가 그렇다고 이야기할 수는 없으나, 일반적으로는 <b>생계가 어려울 만큼 몹시 힘들며</b> 훈련 및 경기 중 부상이라도 당하기라도 하면... 득보다 실이 많아질 수도 있습니다.<br>
														<br>
														그래서.. 적은 전적으로 은퇴하고 복싱계를 떠나시는분들이 많지만, 은퇴한 사람이나 아직까지 활동하고있는 현역선수나 <b>프로복서는 모두가 똑같이 말하는 한가지</b>가 있습니다.<br>
														아무리 생계가 어렵고 현실의벽에 부딛히고 모든걸 포기하고싶은 순간에도, <b class="pro-bold">링 위에서 승리</b>를 하게 되는 순간.... <b class="pro-bold">특히 KO</b>라면... 더욱이...<br>
														내가 이겨내온 진짜 지옥이었던 인고의 순간들, 누릴수있는걸 포기하며 버텨왔던 그 <b class="pro-bold">모든 순간들이 그 한 순간에 결실을 맺고 폭발적인 보상심리</b>가 터지는거 같아요.<br>
														그 느낌은 감히 말로 표현할 수가 없습니다. 정말 <b>마약이 이런것일까</b> 라는 생각이 들만큼 그 순간만큼은 흡사 복권에 당첨된 기분같습니다.<br>
														<br>
														그 순간들이 <b class="pro-bold">나를 만들고, 내 가치를 증명하고, 내가 느낄수 있는 최고의 행복</b>을 맛보게 합니다.<br>
														아마도 모든 프로복서가 <b>승리하던 그 순간</b>들은 평생 잊지 못하고 살거에요.<br>
														</p>
												</div>
											</div>
								
								
								
								<div class="card aboutBoxing-card">
											<div class="card-header">
												<h1 class="card-title aboutBoxing-card-title">마지막으로 전하고 싶은 말</h1>
											</div>
											<div class="card-body boxingDescription pro">
														<p>
															예전에는 복싱을 잘하면 세계챔피언이 되어서 돈방석에 앉고 했지만, 요즘은 그렇지 못하고 인기가 많이 떨어졌습니다.<br>
															단체가 분열되고 여러가지로 한국 복싱의 미래는 어둡습니다.<br>
															<br>
															이 <b>어두운 복싱미래에 희망으로 비춰질수 있는것</b>은 단 하나, <b class="pro-bold">대중들의 관심</b>입니다.<br>
															험난한 삶 임에도 굴복하지않고 꿈을 향해 매일같이 인고의 시간을 버텨오는 <b>복서들에게 많은 관심과 응원</b> 부탁드립니다.<br>
															<br>
															한국 프로복싱, 아직 희망 있습니다.<br>
															<b class="pro-bold"  style="font-size:20px">한국 복싱 화이팅 !!</b> <br>
														</p>
												</div>
											</div>
								
								
							</div>
						</div>
			</div>
			<footer th:replace="/common/commonFooter.html"></footer>
		</div>
	</div>
	</body>
	</html>