<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta th:replace="/common/commonHead"/>
<link rel="stylesheet" href="/css/boxing/boxing.css"/>
</head>
<body>
<div class="wrapper">
	<!-- TopHeader -->
	<div th:replace="/common/commonHeaderBar">
	</div>
	<!-- LeftNaviBar -->
	<div th:replace="/common/commonLeftNaviBar">
	</div>
	<div class="main-panel">
		<div class="content">
			<div class="panel-header bg-dark-gradient">
				<div class="page-inner">
					<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
						<div>
							<h2 class="text-white pb-2 fw-bold">프로복싱 FAQ</h2>
							<h5 class="text-white op-7 mb-2">프로복싱</h5>
						</div>
						<ul class="breadcrumbs">
							<li class="nav-home"><a href="/"><i class="flaticon-home text-light op-5"></i></a></li>
							<li class="separator"><i class="flaticon-right-arrow text-light op-5"></i></li>
							<li class="nav-item text-white"><a class="text-light op-5">프로복싱</a></li>
							<li class="separator"><i class="flaticon-right-arrow text-light op-5"></i></li>
							<li class="nav-item"><a href="/boxing/probox/faq" class="text-light op-5">프로복싱 FAQ</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-inner">
				<div class="row">
						<div class="home-main-div">
							<div>
								<h1 class="aboutBoxing-title">프로복싱 에디터가 알려주는<br><b style="color:red; opacity: 0.6">프로복싱 자주하는 질문</b></h1>
							</div>
						
							
							<div class="card aboutBoxing-card">
								<div class="card-header">
									<h1 class="card-title aboutBoxing-card-title">Q1. 프로복싱은 어떤 스포츠에요?</h1>
								</div>
								<div class="card-body boxingDescription pro">
												<p>우리나라 프로복싱은 프로복싱단체(6개)에 소속된 선수들이 <b class="pro-bold">같은 단체 내의 다른 선수와의 복싱경기</b>를 하는것을 프로복싱경기 라고 하는데요.<br>
												프로복싱은 기본적으로 <b class="pro-bold">챔피언을 목표로 하는 복싱이며</b>, 프로복싱에선 이 챔피언이 된다는걸 <b> 타이틀을 딴다 </b> 라고 표현해요.<br>
												협회별로 헤비급 ~ 미니멈급까지 17개의 체급별로 남/녀 구분하여 각각 챔피언 자리가 존재하지만, 여성 헤비급처럼 선수층이 없는경우도 있고 선수층이 존재하나 챔피언이 공석인 경우도 있어요.<br>
												<br>
												최소 체급부터 슈퍼라이트급 까지(~63.5kg) <b>경량급 선수</b>라고 부르며 8oz의 글러브를 사용하구요.<br>
												웰터급 이상(63.5kg~)은 <b>중량급 선수</b>라고 부르며 10oz 글러브를 사용합니다.<br>
												<br>
												경기는 라운드 당 3분으로 경기를 하는데,  <b >X라운드까지 하는 경기를 X회전 경기</b>라고 불러요.<br>
												프로경기는 4회전, 6회전, 8회전, 10회전이 있는데 선수기량이나 전적에 따라 X회전 기준이 정해지며 경우나 상황에 따라 아랫 회전경기에 참여하는 경우도 있어요.<br>
												이런 부분들은 완전히 룰을 정해놓고 규칙에 맞게 하기보다, 상황에 맞게 여러가지 예외적인 사례가 많으니 참고만 하시면 좋을거 같습니다.<br>
												<br>
												아참,  TV에서 복싱경기 상의탈의하고 트렁크만 입고 하는거 보신적 있죠?<br>
												이처럼 프로경기는 상의를 탈의하고 트렁크만 입고 시합을 합니다.<br>
												주먹은 밴디지를 한 주먹에 테이핑을 돌돌말아서 주먹을 아주 딱딱하게 만듭니다. 그럼 마치 돌주먹처럼 되거든요.<br>
												그리고 왜 종합격투기처럼 쫄쫄이바지를 안입는줄 아세요?<br>
												프로복싱은 낭심보호대를 엄청 큰걸 착용하거든요. <span style="opacity: 0.5">(직업도 직업이지만 더 중요한걸 잃을수는 없으니까요... ㅋㅋㅋㅋ)</span>
												</p>
									</div>
								</div>
								
								
								<div class="card aboutBoxing-card">
									<div class="card-header">
										<h1 class="card-title aboutBoxing-card-title">Q2. 일반인이 프로복서가 되고싶을때는 어떻게 해야돼요?</h1>
									</div>
									<div class="card-body boxingDescription pro">
													<p>
													프로복서가 된다는건, <b class="pro-bold">각 협회에서 주최하는 프로테스트에 합격</b>하시면 되는데요.<br>
													그전에 먼저 생활체육대회를 시작으로 준비하셔야 합니다.<br>
													생활체육대회는 체육관 관장님이 관원을 대회에 출전시킬 수 있는데, 여기서 <b>실전 스파링 경험</b>을 쌓아보시는게 좋습니다.<br>
													당연히, 실력이 부족하다면 체육관 관장님이 생체에 내보내시지 않겠죠.<br>
													이처럼 프로복싱은 우리나라에서는 <b class="pro-bold">생체를 경험으로 실전경험을 쌓아보면서 이후에 프로테스트를 보는게 일반적</b>입니다.<br>
													<br>
													일반인은 생활체육으로부터 시작하여, 실력이 월등할 경우에는 엘리트 복서들과 경쟁하는 아마추어 시합에 나가거나,<br>
													아니면 프로테스트를 합격하여 프로 데뷔를 하는 것이 보통 생활체육 복서들의 끝이라고 볼수 있습니다.<br>
													<br>
													근데, 엘리트 복서들과 경쟁하는 경우는 매우 적고, 대부분 프로로 활동해요.
													</p>
										</div>
									</div>
									
									
									<div class="card aboutBoxing-card">
										<div class="card-header">
											<h1 class="card-title aboutBoxing-card-title">Q3. 프로복싱경기는 어떤것들이 있고, 어떻게 열리나요?</h1>
										</div>
										<div class="card-body boxingDescription pro">
														<p>
														우리나라에서는 6개의 프로복싱협회가 있어요.<br>
														체육관 관장님께서는 그 중 하나의 협회에 체육관을 등록할 수 있는데요.<br>
														<br>
														협회에서 <b class="pro-bold">같은 협회 내 체육관끼리 매치를 주선시켜서 시합을 열고 대진표를 만들어 출전</b>시켜요.<br>
														이게 프로복싱경기의 기본 대회오픈방식입니다.<br>
														<br>
														위와 같이 이러한 국내협회 주관의 <b>랭킹전, 신인왕, 국내타이틀매치</b>가 있구요.<br>
														아시아로 나아가면 아시아 <b>타이틀매치</b>, 더 세계로 나아가면 <b>북미 타이틀매치, 세계 타이틀매치</b> 등이 있어요.<br>
														</p>
											</div>
										</div>
										
										<div class="card aboutBoxing-card">
											<div class="card-header">
												<h1 class="card-title aboutBoxing-card-title">Q4. 프로복서들, 돈 많이버나요?</h1>
											</div>
											<div class="card-body boxingDescription pro">
														<p>
														아시는분은 아시겠지만, 프로복서들이 받는 수입은 그렇게 여유롭지 않습니다.<br>
														사람의 기량마다, 커리어마다 다르겠지만 보통의 국내무대에서 활동하는 국내선수들은 많이 어려워요.<br>
														제가 <b>선수의 커리어에 따라 X회전 선수라는 기준</b>이 정해진다고 이야기했는데, 그 회전수에 따라 아래정도의 금액을 받습니다.<br>
														<br>
														4회전 : 10만원 ~ 60만원<br>
														6회전 : 30만원 ~ 80만원<br>
														8회전 : 50만원 ~ 100만원<br>
														10회전 : 80만원 ~ 120만원<br>
														
														<br>
														이는 어디까지나 참고수치고요. <b class="pro-bold">단체마다 다르고 선수의 역량마다 모두 다릅니다.</b><br>
														저 정도 선의 금액을 받는구나 하고 참고만 해주세요.<br>
														그러나 경기를 위해 식단조절에 온 열정을 불사질러가며 경기에 임하더라도 그 정도의 대우를 얻어가지 못하는것은 사실입니다.<br>
														프로복서들이 더욱더 대우받기 위해선 아직 대중들의 관심이 더욱더 많이 필요해요.<br>
														</p>
												</div>
											</div>
								
								
								
							</div>
						</div>
			</div>
			<footer th:replace="/common/commonFooter.html"></footer>
		</div>
	</div>
	</body>
	</html>