<div class="web">
	<div class="header">
	    <div class="main_menu">
	        <h1><a href="/" alt="Go Main">Boxing World</a></h1>                
	        <div id="lnb">
	            <ul>
<!-- 	                <li><a href="/boxing/armabox/info">복싱이란</a> -->
<!-- 	                    <ul> -->
<!-- 	                        <li><a href="/boxing/armabox/info">아마복싱</a></li> -->
<!-- 	                        <li><a href="/boxing/probox/info">프로복싱</a></li> -->
<!-- 	                    </ul> -->
<!-- 	                </li> -->
	                <li><a href="#" class="soon">복싱이란</a>
	                    <ul>
	                        <li><a href="#" class="soon">아마복싱(준비중)</a></li>
	                        <li><a href="#" class="soon">프로복싱(준비중)</a></li>
	                    </ul>
	                </li>
	                
<!-- 	                <li><a href="/organization/organkor/info">협회소개</a> -->
<!-- 	                    <ul> -->
<!-- 	                        <li><a href="/organization/organkor/info">국내 협회</a></li> -->
<!-- 	                        <li><a href="/organization/organworld//info">세계 협회</a></li> -->
<!-- 	                    </ul> -->
<!-- 	                </li> -->
	                <li><a href="#" class="soon">협회소개</a>
	                    <ul>
	                        <li><a href="#" class="soon">국내 협회(준비중)</a></li>
	                        <li><a href="#" class="soon">세계 협회(준비중)</a></li>
	                    </ul>
	                </li>
	                
	                <li><a href="/boxer/boxerkor/hof">선수정보</a>
	                    <ul>
	                        <li><a href="/boxer/boxerkor/hof">국내 프로선수</a></li>
	                        <li><a href="/boxer/boxerworld/hof">세계 프로선수</a></li>
	                        <li><a href="/boxer/support/translate">번역지원</a></li>
	                    </ul>
	                </li>
<!-- 	                <li><a href="/item/glove">복싱용품 소개</a> -->
<!-- 	                    <ul> -->
<!-- 	                        <li><a href="/item/glove">글러브</a></li> -->
<!-- 	                        <li><a href="/item/etc">기타</a></li> -->
<!-- 	                    </ul> -->
<!-- 	                </li> -->
	                <li><a href="#" class="soon">복싱용품 소개</a>
	                    <ul>
	                        <li><a href="#" class="soon">글러브(준비중)</a></li>
	                        <li><a href="#" class="soon">기타(준비중)</a></li>
	                    </ul>
	                </li>
	                
<!-- 	                <li><a href="/gym/gyminfo">국내 체육관 찾기</a> -->
<!-- 	                    <ul> -->
<!-- 	                        <li><a href="/gym/gyminfo">국내 체육관찾기</a></li> -->
<!-- 	                    </ul> -->
<!-- 	                </li> -->
	                <li><a href="#" class="soon">국내 체육관 찾기</a>
	                    <ul>
	                        <li><a href="#" class="soon">국내 체육관찾기(준비중)</a></li>
	                    </ul>
	                </li>
	                
	            </ul>
	        </div>
	    </div>
	</div>
</div>