<div id="sitemap" class="popup disNone"><!--sitemap-->
    <div class="popup_bg"></div>
    <div class="sitemap">
        <a href="#" onclick="this.parentNode.parentNode.classList.toggle('disNone');return false;" class="btn_close"></a>
        <h2>사이트맵</h2>
        <div class="sitemap_table">
            <ul>
                <li>
                    <span class="t1"><a href="/company/about">선수정보</a></span>
                    <span class="t1_link">
                        <a href="/company/about">- 선수리스트</a>
                        <a href="/company/brand">- 번역지원</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>        
</div>