<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="title" content="복싱선수 번역페이지" />
	<meta name="description" content="복싱선수 번역페이지" />
	<meta name="keywords" content="복싱선수 번역페이지" />
	<meta name="og:title" content="복싱선수 번역페이지" />
	<meta name="og:description" content="복싱선수 번역페이지" />
	<!-- <meta name="og:image" content="http://www.arointech.co.kr/images/favicons/arointech_img.png" /> -->
	<!-- <meta name="og:url" content="http://www.arointech.co.kr" /> -->
	<meta name="og:type" content="website" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
	<meta name="HandheldFriendly" content="true">
	<title>복싱선수 번역페이지</title>
	
<!-- 	<link href="/common/css/common.css" rel="stylesheet" type="text/css" /> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
	<!-- 부가적인 테마 -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
</head>

<body>
<div id="wrap">
    
    <container>
        <section>
            <article style="text-align: center;">
                <h2>복싱선수 번역지원</h2>
                <div class="board" style="text-align: center;">

				<table class="table" style="text-align: center; width:100%; margin-left: auto; margin-right: auto;">
                	<tr>
                		<td>
                			<span style="font-size: 15px; font-weight: bold;">체급 선택 : </span>
                			<div class="btn-group">
							  <button type="button" id="division_btn_group" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
							  				th:text="${division_kor}">
							<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							  	<li role="presentation" class="dropdown-header">체급을 선택하세요. (kg)</li>
						
								<li><a href="javascript:void(0)" onclick="newListPage('division','heavyweight')">헤비급(90.9 ~)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','cruiserweight')">크루저급(79.4 ~ 90.9)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','light_heavyweight')">라이트헤비급(76.2 ~ 79.4)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','super_middleweight')">슈퍼미들급(72.6 ~ 76.2)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','middleweight')">미들급(69.9 ~ 72.6)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','light_middleweight')">슈퍼웰터급(66.7 ~ 69.9)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','welterweight')">웰터급(63.5 ~ 66.7)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','light_welterweight')">슈퍼라이트급(61.2 ~ 63.5)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','lightweight')">라이트급(59.0 ~ 61.2)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','super_featherweight')">슈퍼패더급(57.2 ~ 59.0)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','featherweight')">패더급(55.2 ~ 57.2)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','super_bantamweight')">슈퍼벤텀급(53.5 ~ 55.2)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','bantamweight')">벤텀급(52.2 ~ 53.5)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','super_flyweight')">슈퍼플라이급(50.8 ~ 52.2)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','flyweight')">플라이급(49.0 ~ 50.8)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','light_flyweight')">라이트플라이급(47.6 ~ 49.0)</a></li>
								<li><a href="javascript:void(0)" onclick="newListPage('division','minimumweight')">미니멈급(~ 47.6)</a></li>
							  </ul>
							</div>
                		</td>
                	</tr>
                </table>

                    
                    
                    <table class="table" style="text-align: center; width:1000px; margin-left: auto; margin-right: auto;">
                        <thead>
                         <tr class="on">
                            <th scope="col" style="text-align: center;">순위</td>
                            <th scope="col" style="text-align: center;" >ID</td>
                            <th scope="col" style="text-align: center;">이름(영문)</td>
                            <th scope="col" style="text-align: center;">이름(국문)</td>
                            <th scope="col" style="text-align: center;">번역지원</td>
                            <th scope="col" style="text-align: center;">체급</td>
                            <th scope="col" style="text-align: center;">승</td>
                            <th scope="col" style="text-align: center;">패</td>
                            <th scope="col" style="text-align: center;">무</td>
                            <th scope="col" style="text-align: center;">데뷔일</td>
                            <th scope="col" style="text-align: center;">생년월일</td>
                            <th scope="col" style="text-align: center;">상태</td>
                        </tr>
                        </thead>
                        <tr th:each="item : ${boxerList}" th:style="${item.status =='은퇴' ? 'background-color:#dddddd' : ''}">
                            <td class="ranking"  th:text="${item.ranking}+'('+${item.sex}+')'">순위</td>
                            <td class="id"  th:text="${item.boxer_id}">ID</td>
                            <td class="boxerNameEng" th:text="${item.boxer_name_eng}">이름</td>
                            <td class="boxerNameKor" th:text="${item.boxer_name_kor}">이름</td>
                            <td class="supportTranslate">
	                            <th:block th:if="${item.isTranslated} == 'N'">
								    <input type="text" placeholder="번역 입력" style="width:80px"></input>
								    <button type="button" class="btn btn-primary btn-sm" style="width:50px" onclick="inputTranslate(this)">입력!</button>
								</th:block>
	                            <th:block th:unless="${item.isTranslated} == 'N'">
	                           		<input type="text" placeholder="번역 수정" style="width:80px"/></input>
								    <button type="button" class="btn btn-success btn-sm" style="width:50px" onclick="inputTranslate(this)" >수정!</button>
								</th:block>  

                            </td>
                            <td class="division" th:text="${item.division}">체급</td>
                            <td class="win" th:text="${item.win}">승</td>
                            <td class="lose" th:text="${item.lose}">패</td>
                            <td class="draw" th:text="${item.draw}">무</td>
                            <td class="debut" th:text="${item.debut}">데뷔일</td>
                            <td class="born" th:text="${item.born}">생년월일</td>
                            <td class="status" th:text="${item.status}">상태</td>
                        </tr>
                    </table>
                </div>
            </article>          
        </section>
    </container>

</div>
</body>

<script src="/js/boxer.js"></script>
<script>
	function inputTranslate(data){
		var boxerId_p = $(data).parent().parent().find(".id").text();
		var boxerNameKor_p = $(data).parent().find("input").val();
		var boxerNameEng_p = $(data).parent().parent().find(".boxerNameEng").text();
		var mode_p = $(data).parent().parent().find("button").text().replace("!","");
		
		if(boxerNameKor_p == ""){
			alert("이름을 입력해주세요.");
			return null;
		}else{
			$.ajax({
			    url:'/supportTranslate',
			    async:true,
			    type:'POST', 
			    data: {
			        boxerId: boxerId_p,
			        boxerNameKor:boxerNameKor_p,
			        boxerNameEng:boxerNameEng_p,
			        mode:mode_p
			    },
			    dataType:'text',// xml, json, script, html
			    beforeSend:function(jqXHR) {},// 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
			    success:function(jqXHR) {
			    	alert("요청이 완료되었습니다.")
			    },// 요청 완료 시
			    error:function(jqXHR) {},// 요청 실패.
			    complete:function(jqXHR) {}// 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
			});
		}

	}
</script>

</html>
