<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta th:replace="/common/commonHead" />
</head>
<body>
	<div class="wrapper">
		<!-- TopHeader -->
		<div th:replace="/common/commonHeaderBar" ></div>
		<!-- LeftNaviBar -->
		<div th:replace="/common/commonLeftNaviBar" ></div>


		<div class="main-panel">
			<div class="content">
				<div class="panel-header bg-dark-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">국내 복싱 통합시스템</h2>
								<h5 class="text-white op-7 mb-2">국내 복싱의 데이터를 제공</h5>
							</div>
							<div class="ml-md-auto py-2 py-md-0">
								<a href="#" class="btn btn-white btn-border btn-round mr-2">아무기능없음</a>
								<a href="#" class="btn btn-secondary btn-round">아무기능없음</a>
							</div>
						</div>
					</div>
				</div>
				<div class="page-inner mt--5">
					<table class="table" style="text-align: center; width:1000px; margin-left: auto; margin-right: auto;">
						<thead>
						 <tr class="on">
								<th scope="col" style="text-align: center;">순위
								</th><th scope="col" style="text-align: center;">ID
								</th><th scope="col" style="text-align: center;">이름(영문)
								</th><th scope="col" style="text-align: center;">이름(국문)
								</th><th scope="col" style="text-align: center;">체급
								</th><th scope="col" style="text-align: center;">승
								</th><th scope="col" style="text-align: center;">패
								</th><th scope="col" style="text-align: center;">무
								</th><th scope="col" style="text-align: center;">데뷔일
								</th><th scope="col" style="text-align: center;">생년월일
								</th><th scope="col" style="text-align: center;">상태
						</th></tr>
						</thead>
						<tbody><tr>
								<td class="ranking">1(M)</td>
								<td class="id">849378</td>
								<td class="boxerNameEng">Soo Ho Hong</td>
								<td class="boxerNameKor">홍수호</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">4</td>
								<td class="lose">1</td>
								<td class="draw">0</td>
								<td class="debut">2018-10-07</td>
								<td class="born">1992-04-17 / age 27</td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">10(M)</td>
								<td class="id">816824</td>
								<td class="boxerNameEng">Jae Min Kim</td>
								<td class="boxerNameKor">김재민</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">2</td>
								<td class="lose">3</td>
								<td class="draw">2</td>
								<td class="debut">2017-11-25</td>
								<td class="born">1982-08-23 / age 37</td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">11(M)</td>
								<td class="id">890873</td>
								<td class="boxerNameEng">Sung Min Kwon</td>
								<td class="boxerNameKor">권성민</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">2</td>
								<td class="lose">0</td>
								<td class="draw">0</td>
								<td class="debut">2019-08-03</td>
								<td class="born"></td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">12(M)</td>
								<td class="id">885641</td>
								<td class="boxerNameEng">Ji Hoon Won</td>
								<td class="boxerNameKor">원지훈</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">1</td>
								<td class="lose">0</td>
								<td class="draw">0</td>
								<td class="debut">2019-06-24</td>
								<td class="born"></td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">13(M)</td>
								<td class="id">885900</td>
								<td class="boxerNameEng">Jae Hoon Kim</td>
								<td class="boxerNameKor">김재훈</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">1</td>
								<td class="lose">1</td>
								<td class="draw">0</td>
								<td class="debut">2019-07-29</td>
								<td class="born">1993-10-19 / age 26</td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">13(M)</td>
								<td class="id">890875</td>
								<td class="boxerNameEng">Sung Yun Kim</td>
								<td class="boxerNameKor">김성윤</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">1</td>
								<td class="lose">0</td>
								<td class="draw">0</td>
								<td class="debut">2019-08-31</td>
								<td class="born">2000-10-09 / age 19</td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">15(M)</td>
								<td class="id">732158</td>
								<td class="boxerNameEng">Darin Shaw</td>
								<td class="boxerNameKor">데린샤</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">0</td>
								<td class="lose">3</td>
								<td class="draw">0</td>
								<td class="debut">2015-09-19</td>
								<td class="born">1980-03-31 / age 39</td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">15(M)</td>
								<td class="id">872295</td>
								<td class="boxerNameEng">Young Chul Kim</td>
								<td class="boxerNameKor">김영철</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">0</td>
								<td class="lose">1</td>
								<td class="draw">0</td>
								<td class="debut">2019-03-23</td>
								<td class="born">1992-12-12 / age 27</td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">15(M)</td>
								<td class="id">885453</td>
								<td class="boxerNameEng">Ik Tae Jin</td>
								<td class="boxerNameKor">진익태</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">0</td>
								<td class="lose">1</td>
								<td class="draw">0</td>
								<td class="debut">2019-06-30</td>
								<td class="born"></td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">15(M)</td>
								<td class="id">885640</td>
								<td class="boxerNameEng">Sung Han Lee</td>
								<td class="boxerNameKor">이성한</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">0</td>
								<td class="lose">3</td>
								<td class="draw">0</td>
								<td class="debut">2019-06-24</td>
								<td class="born"></td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">15(M)</td>
								<td class="id">890876</td>
								<td class="boxerNameEng">Young Geun Ahn</td>
								<td class="boxerNameKor">안영근</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">0</td>
								<td class="lose">2</td>
								<td class="draw">0</td>
								<td class="debut">2019-08-31</td>
								<td class="born">1993-09-27 / age 26</td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">15(M)</td>
								<td class="id">897719</td>
								<td class="boxerNameEng">Dong Chan Lee</td>
								<td class="boxerNameKor">이동찬</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">0</td>
								<td class="lose">1</td>
								<td class="draw">0</td>
								<td class="debut">2019-09-07</td>
								<td class="born"></td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">15(M)</td>
								<td class="id">902021</td>
								<td class="boxerNameEng">Hyun Bin Oh</td>
								<td class="boxerNameKor">오현빈</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">0</td>
								<td class="lose">0</td>
								<td class="draw">1</td>
								<td class="debut">2019-10-06</td>
								<td class="born"></td>
								<td class="status">현역</td>
						</tr>
						<tr>
								<td class="ranking">2(M)</td>
								<td class="id">798658</td>
								<td class="boxerNameEng">Sung Min Lee*</td>
								<td class="boxerNameKor">이성민</td>

									
									
										 
				
			


								<td class="division">헤비급</td>
								<td class="win">7</td>
								<td class="lose">1</td>
								<td class="draw">0</td>
								<td class="debut">2017-05-27</td>
								<td class="born">1990-09-17 / age 29</td>
								<td class="status">현역</td>
						</tr>
				</tbody></table>
				</div>
			</div>
			<footer th:replace="/common/commonFooter.html"></footer> 
		</div>
	</div>
</body>
</html>